@model Referance
@{
    ViewData["Location"] = "Referans";
    ViewData["Title"] = "Referans";
}

@section header_link {

    <link rel="stylesheet" href="~/Admin/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Admin/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Admin/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Admin/assets/css/metisMenu.css">
    <link rel="stylesheet" href="~/Admin/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Admin/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="~/Admin/assets/css/typography.css">
    <link rel="stylesheet" href="~/Admin/assets/css/default-css.css">
    <link rel="stylesheet" href="~/Admin/assets/css/styles.css">
    <link rel="stylesheet" href="~/Admin/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/Admin/assets/js/vendor/modernizr-2.8.3.min.js"></script>
}


<div class="main-content-inner">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card">
                <form class="card-body" method="post" enctype="multipart/form-data">
                    <h4 class="header-title">
                        Referance
                        @if (ViewBag.IsCreate)
                        {
                            <span>
                                Create
                            </span>
                        }
                        else
                        {
                            <span>
                                Update
                            </span>
                        }
                    </h4>
                    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                    <div class="form-group">
                        <label asp-for="Name" class="col-form-label">Name</label>
                        <input class="form-control" type="text" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger my-1"></span>
                    </div>
                    <p>Image</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" accept="image/jpeg,image/jpg,image/png,image/gif,image/jfif" asp-for="Photo">
                            <label class="custom-file-label" asp-for="Photo">Choose Image</label>
                            <span asp-validation-for="Photo" class="text-danger my-1"></span>
                        </div>
                    </div>

                    @if (!ViewBag.IsCreate)
                    {
                        <div>
                            <label class="col-form-label d-block">Current Image</label>
                            <img style="width:300px;height:auto;" src="~/img/Refreance/@Model.Image" />
                        </div>
                    }
                    <div class="form-group col-12">
                        <label asp-for="Title">Title</label>
                        <textarea class="form-control" asp-for="Title" id="Title" rows="3"></textarea>
                        <span asp-validation-for="Title" class="text-danger my-1"></span>
                    </div>
                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Textual inputs end -->
    </div>
</div>

@section footer_link{
    <!-- jquery latest version -->
    <script src="~/Admin/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/Admin/assets/js/popper.min.js"></script>
    <script src="~/Admin/assets/js/bootstrap.min.js"></script>
    <script src="~/Admin/assets/js/owl.carousel.min.js"></script>
    <script src="~/Admin/assets/js/metisMenu.min.js"></script>
    <script src="~/Admin/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/Admin/assets/js/jquery.slicknav.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Title'))
            .catch(error => {
                console.error(error);
            });
    </script>
    <partial name="_ValidationScriptsPartial" />
    <!-- others plugins -->
    <script src="~/Admin/assets/js/plugins.js"></script>
    <script src="~/Admin/assets/js/scripts.js"></script>
}
