@model ChangePasswordVM
@{
    Layout = null;
}

@{
    ViewData["Location"] = "Setting";
    ViewData["Title"] = "Change Password";
}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Change Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/img/uversalfilo.png" rel="icon">
    <link href="~/img/uversalfilo.png" rel="apple-touch-icon">
    <partial name="_AdminPanelHeaderLink" />
</head>

<body>
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area login-bg" style="background: url(/img/image.jpg)">
        <div class="container">
            <div class="login-box ptb--100">
                <form method="post">
                    <div class="login-form-head">
                        <h4>Change Password</h4>
                    </div>
                    <div class="login-form-body">
                        <div class="form-gp">
                            <label asp-for="CurrentPassword">Current Password</label>
                            <input type="password" asp-for="CurrentPassword">
                            <i class="ti-lock"></i>
                            <span asp-validation-for="CurrentPassword" class="d-block text-danger"></span>
                        </div>
                        <div class="form-gp">
                            <label asp-for="NewPassword">New Password</label>
                            <input type="password" asp-for="NewPassword">
                            <i class="ti-lock"></i>
                            <span asp-validation-for="NewPassword" class="d-block text-danger"></span>
                        </div>
                        <div class="form-gp">
                            <label asp-for="ConfirmPassword">Comifirm Password</label>
                            <input type="password" asp-for="ConfirmPassword">
                            <i class="ti-lock"></i>
                            <span asp-validation-for="ConfirmPassword" class="d-block text-danger"></span>
                        </div>
                        <div class="submit-btn-area">
                            <button id="form_submit" type="submit">Submit <i class="ti-arrow-right"></i></button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->
    <partial name="_AdminPanelScripts" />

    <script>
        $(document).ready(function () {
            $(".form-gp input").each(function (x) {
                if ($(this).val() != "") {
                    $(this).focus()
                }
            })
        })
    </script>


</body>

</html>