@model User
@{
}

@section header_link {

    <link rel="stylesheet" href="~/Admin/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Admin/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Admin/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Admin/assets/css/metisMenu.css">
    <link rel="stylesheet" href="~/Admin/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Admin/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="~/Admin/assets/css/typography.css">
    <link rel="stylesheet" href="~/Admin/assets/css/default-css.css">
    <link rel="stylesheet" href="~/Admin/assets/css/styles.css">
    <link rel="stylesheet" href="~/Admin/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/Admin/assets/js/vendor/modernizr-2.8.3.min.js"></script>
}


<div class="main-content-inner">
    <div class="row">
        <div class="col-12 mt-5">
            @if (TempData["SettingAlert"] != null)
            {
                <div class="col-12 mt-2 alert-dismiss">
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        @TempData["SettingAlert"].ToString()
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span class="fa fa-times"></span>
                        </button>
                    </div>
                </div>
            }
            <div class="card">
                <form class="card-body row" method="post" enctype="multipart/form-data">
                    <h4 class="header-title d-flex justify-content-between col-12">
                        <span>User Setting</span>
                        <a class="btn btn-primary" href="/UserAdmin/Settings/ChangePassword"><span class="ti-key"></span> Change Password</a>

                    </h4>
                    <div class="col-lg-4 my-2 col-sm-12">
                        <label class="col-form-label d-block">Current Image</label>
                        <img class="img-fluid" src="~/img/Profile/@Model.Image" />
                        <div class="custom-file">
                            <label class="d-block mx-2" asp-for="Photo"> Change Profile Image</label>
                            <input type="file" accept="image/jpeg,image/jpg,image/png,image/gif,image/jfif" asp-for="Photo">
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                        <div class="col-12 mt-2 alert-dismiss">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <span>If You Change User Name Or Email, You Exit This Account. Plase Again Sing in </span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span class="fa fa-times"></span>
                                </button>
                            </div>
                        </div>
                        <div class=" my-2 form-group">
                            <label asp-for="UserName" class="col-form-label">User Name</label>
                            <input class="form-control" type="text" asp-for="UserName">
                            <span asp-validation-for="UserName" class="text-danger my-1"></span>
                        </div>
                        <div class=" my-2 form-group">
                            <label asp-for="Email" class="col-form-label">Email</label>
                            <input class="form-control" type="text" asp-for="Email">
                            <span asp-validation-for="Email" class="text-danger my-1"></span>
                        </div>
                        <div class="form-group pt-3">
                            <label asp-for="FirstName" class="col-form-label">First Name</label>
                            <input class="form-control" type="text" asp-for="FirstName">
                            <span asp-validation-for="FirstName" class="text-danger my-1"></span>
                        </div>
                        <div class="form-group pt-3">
                            <label asp-for="LastName" class="col-form-label">Last Name</label>
                            <input class="form-control" type="text" asp-for="LastName">
                            <span asp-validation-for="LastName" class="text-danger my-1"></span>
                        </div>
                    </div>
                    <div class="form-group col-12 mb-4">
                        <span asp-validation-for="Gender" class="d-block text-danger"></span>
                        <label asp-for="Gender" class="col-form-label">Gender</label>
                        <select asp-for="Gender" class="form-control">
                            <option value="@bool.TrueString">Male</option>
                            <option value="@bool.FalseString">Falmale</option>
                        </select>
                    </div>
                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Submit</button>
                    </div>
                </form>

                <div class="">
                </div>

            </div>
        </div>
        <!-- Textual inputs end -->
    </div>
</div>

@section footer_link{
    <!-- jquery latest version -->
    <script src="~/Admin/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/Admin/assets/js/popper.min.js"></script>
    <script src="~/Admin/assets/js/bootstrap.min.js"></script>
    <script src="~/Admin/assets/js/owl.carousel.min.js"></script>
    <script src="~/Admin/assets/js/metisMenu.min.js"></script>
    <script src="~/Admin/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/Admin/assets/js/jquery.slicknav.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <!-- others plugins -->
    <script src="~/Admin/assets/js/plugins.js"></script>
    <script src="~/Admin/assets/js/scripts.js"></script>
}
