@model IdentityRole

@{
    ViewData["Title"] = "Role Create";
    ViewData["Location"] = "Role";
}

@section header_link {
    <partial name="_AdminPanelHeaderLink" />
}

<div class="card">
    <div class="card-body">
        <h4 class="header-title"> Role Create</h4>
        <div class="p-2" asp-validation-summary="All" style="color:red;font-size:1.5rem;"></div>
        <form method="post">
            <div class="form-group">
                <label asp-for="Name">Role</label>
                <input type="text" class="form-control" required asp-for="Name" aria-describedby="emailHelp" placeholder="Name">
            </div>
            <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Submit</button>
        </form>
    </div>
</div>
@section footer_link{
    <partial name="_AdminPanelScripts" />

    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $(".form-gp input").each(function (x) {
                if ($(this).val() != "") {
                    $(this).focus()
                }
            })
        })
    </script>

}