




@{
    ViewData["Title"] = "Single Page";
}

<div class="hero hero-single route bg-image" style="background-image: url(/img/privar.jpg)">
    <div class="overlay-mf"></div>
    <div class="hero-content display-table">
        <div class="table-cell">
            <div class="container">
                <h2 class="hero-title mb-4">Policies </h2>
            </div>
        </div>
    </div>
</div>


<main id="main">

    <!-- ======= Blog Single Section ======= -->
    <section class="blog-wrapper sect-pt4" id="search">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post-box">
                        <h2>Site Policies</h2>
                        Our goal is to give people the opportunity to get an online CV by presenting a portfolio.
                        Opportunities to offer the site:
                        <ol>
                            <li> To have your Portfolio by registering alone.</li>
                            <li> By expanding the Control Panel to fully manage your portfolio</li>
                            <li> Share blogs</li>
                            <li> Ability to write your comments on blogs</li>
                            <li> Ability to view messages sent to you via "Message Box"  and so on.</li>

                        </ol>


                        <strong> All persons registered on the site accept the following rules:</strong>
                        <ol>
                            <li> We use your personal information in connection with the development of the site.</li>
                            <li> All rules added during the development of the site apply to past and present users.</li>
                            <li> If the development of the Site is stopped, your data may be lost.</li>

                        </ol>
                        Important Notifications:
                        <ol>
                            <li>In case of misuse and improper use of the site, the profile will be closed.</li>
                            <li>Sharing 18+ information on the site is prohibited.</li>
                            <li>If the site's unethical use is detected, the profile will be blocked.</li>
                            <li>If there is any unethical comment, the comment will be blogged.</li>
                            
                        </ol>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget-sidebar">
                        <h5 class="sidebar-title">Top Post</h5>
                        <div class="sidebar-content">
                            <ul class="list-sidebar">
                                <li>
                                    <a href="#">Atque placeat maiores.</a>
                                </li>
                                <li>
                                    <a href="#">Lorem ipsum dolor sit amet consectetur</a>
                                </li>
                                <li>
                                    <a href="#">Nam quo autem exercitationem.</a>
                                </li>
                                <li>
                                    <a href="#">Atque placeat maiores nam quo autem</a>
                                </li>
                                <li>
                                    <a href="#">Nam quo autem exercitationem.</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Blog Single Section -->

</main><!-- End #main -->