@model IList<Referance>
@{
    ViewData["Location"] = "Referans";
    ViewData["Title"] = "Referans List";
}
@section header_link{
    <partial name="_AdminPanelListHeaderLink" />
}


<div class="main-content-inner">
    <div class="row">
        <!-- Primary table start -->
        <div class="col-12  mt-5">
            @if (TempData["ReferanceAlert"] != null)
            {
                <div class="col-12 mt-2 alert-dismiss">
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        @TempData["ReferanceAlert"].ToString()
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span class="fa fa-times"></span>
                        </button>
                    </div>
                </div>
            }
            <div class="card">
                <div class="card-body">
                    <div class="col-12 mt-2 alert-dismiss">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            Your Referance Limit 12!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span class="fa fa-times"></span>
                            </button>
                        </div>
                    </div>
                    <div class="d-flex my-3 justify-content-between">
                        <h4 class="header-title">Referance List</h4>
                        <a href="/UserAdmin/Referance/Create" class="btn btn-success"><i class="ti-plus"></i></a>
                    </div>
                    <div class="data-tables datatable-primary">
                        <table id="dataTable2" class=" w-100 text-center">
                            <thead class="text-capitalize">
                                <tr>
                                    <th>Name </th>
                                    <th>Title</th>
                                    <th>Image</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name </td>
                                        <td>@Html.Raw(item.Title)</td>
                                        <td>
                                            <img style="width: 120px; height: auto;" class="" src="~/img/Refreance/@item.Image" />
                                        </td>
                                        <td>
                                            <a href="/UserAdmin/Referance/Update/@item.Id" class="text-warning mx-2"><span class="fa fa-edit"></span></a>
                                            <a onclick="return confirm('Are You Sure Delete?')" href="/UserAdmin/Referance/Delete/@item.Id" class="text-danger"><i class="ti-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Primary table end -->

    </div>
</div>


@section footer_link{

    <partial name="_AdminPanelListScripts" />

}
