@model PaginationList<IdentityRole>

@{
    ViewData["Title"] = "Role List";
    ViewData["Location"] = "Role";
}
@section header_link{
    <partial name="_AdminPanelListHeaderLink" />
}

<div class="main-content-inner">
    <div class="row">
        @if (TempData["RoleAlert"] != null)
        {
            <div class="col-12 mt-2 alert-dismiss">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    @TempData["RoleAlert"].ToString()
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
            </div>
        }

        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <h4 class="header-title ">Role Table</h4>
                        <a href="/UserAdmin/Role/Create" class="btn btn-flat btn-outline-success d-inline-block  ml-auto mb-3"><i class="ti-plus"></i></a>
                    </div>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered progress-table text-center">
                                <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th scope="row">@item.Id</th>
                                            <td>@item.Name</td>
                                            <td>
                                                <ul class="d-flex justify-content-center">
                                                    <li class="mr-3"><a href="/UserAdmin/Role/Update/@item.Id" class="text-secondary"><i class="fa fa-edit"></i></a></li>
                                                    <li><a onclick="return confirm('Silmək istədiyinizdən əminsiz?')" href="/UserAdmin/Role/Delete/@item.Id" class="text-danger"><i class="ti-trash"></i></a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <partial name="_PaginationList" model="Model.PaginationLinkModel" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Progress Table end -->
    </div>
</div>


@section footer_link{

    <partial name="_AdminPanelListScripts" />

}
