
@model Service
@{
    ViewData["Location"] = "Service";
    ViewData["Title"] = "Service";
}
@section header_link {
    <partial name="_AdminPanelHeaderLink" />
}

<div class="main-content-inner">
    <div class="row">
        <!-- Textual inputs start -->
        <div class="col-12 mt-5">
            <div class="card">
                <form class="card-body row" method="post">
                    <h4 class="header-title col-12">
                        Service
                        @if (ViewBag.IsCreate)
                        {
                            <span>
                                Create
                            </span>
                        }
                        else
                        {
                            <span>
                                Edit
                            </span>
                        }

                    </h4>
                    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                    <span asp-validation-for="UserId" class="text-danger my-1"></span>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label asp-for="Name" class="col-form-label">Name</label>
                        <input class="form-control" type="text" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger my-1"></span>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label asp-for="Icon" class="col-form-label">Icon</label>
                        <input class="form-control" placeholder="<i class='far fa-computer-speaker'></i>" type="text" asp-for="Icon">
                        <span asp-validation-for="Icon" class="text-danger my-1"></span>
                    </div>
                    <div class="form-group col-12">
                        <label asp-for="Descriptoion">Description</label>
                        <textarea class="form-control" asp-for="Descriptoion" id="Descriptoion" rows="3"></textarea>
                        <span asp-validation-for="Descriptoion" class="text-danger my-1"></span>
                    </div>

                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section footer_link{
    <partial name="_AdminPanelScripts" />

    <script src="https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Descriptoion'))
            .catch(error => {
                console.error(error);
            });
    </script>




    <partial name="_ValidationScriptsPartial" />
   
}

